{
    "sqldeveloper.sqlHistory.historyLimit": 500,
    "snowflake.connectionsConfigFile": "/home/william/.snowflake/connections.toml",
    "explorer.confirmDragAndDrop": false,
    "remote.SSH.remotePlatform": {
        "pel_lap": "linux"
    },
    "git.enableSmartCommit": true,
    "git.autofetch": true,
    "git.confirmSync": false,
    "git.openRepositoryInParentFolders": "never",
    "security.workspace.trust.untrustedFiles": "open",
    "files.autoSave": "afterDelay",
    "workbench.startupEditor": "none",
    "python.analysis.typeCheckingMode": "basic",
    "chat.mcp.gallery.enabled": true,
    "explorer.confirmDelete": false,
    "hediet.vscode-drawio.resizeImages": null,
    "docker.extension.enableComposeLanguageServer": false,
    "github.copilot.nextEditSuggestions.enabled": true,
    "atlascode.jira.enabled": true,
    "atlascode.bitbucket.enabled": true,
    "atlascode.jira.explorer.fetchAllQueryResults": false,
    "atlascode.jira.explorer.enabled": true,
    "atlascode.outputLevel": "errors",
    "atlascode.rovodev.showEntitlementNotifications": false,
    "atlassianMcp.confluenceUrl": "https://pelotoncis.atlassian.net/wiki",
    "atlassianMcp.jiraUrl": "https://pelotoncis.atlassian.net",
    "atlassianMcp.authMethod": "oauth",
    "atlassianMcp.serverPort": 8001,
    "sqldeveloper.datagrid.fontFamily": "Consolas, 'Courier New', monospace",
    "terminal.integrated.env.linux": {
        "CONFLUENCE_URL": "https://pelotoncis.atlassian.net/wiki",
        "JIRA_URL": "https://pelotoncis.atlassian.net",
        "CONFLUENCE_USERNAME": "wdubberley@pelotongroup.com",
        "CONFLUENCE_API_TOKEN": "{{ pass "atlassian/api-token" }}",
        "JIRA_USERNAME": "wdubberley@pelotongroup.com",
        "JIRA_API_TOKEN": "{{ pass "atlassian/api-token" }}"
    },
    "[dockercompose]": {
        "editor.insertSpaces": true,
        "editor.tabSize": 2,
        "editor.autoIndent": "advanced",
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[github-actions-workflow]": {
        "editor.defaultFormatter": "redhat.vscode-yaml"
    },
    "[oracle-sql]": {
        "editor.defaultFormatter": "Oracle.sql-developer"
    },
    "[css]": {
        "editor.defaultFormatter": "vscode.css-language-features"
    },
    "[json]": {
        "editor.defaultFormatter": "vscode.json-language-features"
    },
    "[javascript]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "[xml]": {
        "editor.defaultFormatter": "PrateekMahendrakar.prettyxml"
    }
}
