export ZSH="$HOME/.oh-my-zsh"
export GPG_TTY=$(tty)
[[ "$TERM_PROGRAM" == "vscode" ]] && . "$(code --locate-shell-integration-path zsh)"

ZSH_THEME="jonathan"

export PATH=$PATH:/usr/lib/chromium-browser/:$HOME/Programs/liquidbase/liquibase-4.26.0/:$HOME/sqlcl/bin/
export TNS_ADMIN=$HOME/projects/Wallets/Wallet_Liberty
export PYTHONSTARTUP=$HOME/.startup.py
export PATH="$HOME/.local/bin:$HOME/bin:$PATH"

plugins=(git ansible python pip terraform)

source $ZSH/oh-my-zsh.sh
source ~/env.sh

if [ -e $HOME/.aliases ]; then
    source $HOME/.aliases
fi

[[ -e "$HOME/lib/oracle-cli/lib/python3.10/site-packages/oci_cli/bin/oci_autocomplete.sh" ]] && \
  source "$HOME/lib/oracle-cli/lib/python3.10/site-packages/oci_cli/bin/oci_autocomplete.sh"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
